body {
    font-family: 'Urbanist', sans-serif;
    margin: 0;
    overflow: hidden;
    background-color: #131313;
}

.load_more_button {
    width: 100px;
    height: 100px;
    font-size: 25px;
    z-index: 999;
    border-radius: 200px;
    box-shadow: 0px 0px 5px 1px white;
    color: white;
    background: #303030;
    border: none;
    cursor: pointer;
    font-family: 'Urbanist', sans-serif;
}

.load_more_button:hover {
    background: #ffffff14;
}

.copyright {
    font-size: 15px;
    color: #ffffff87
}

._area_load_more_button {
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 2vh;
    margin-top: 3vh;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 45px;
    margin-left: 5%;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
    transform: scale(1);
    transition: all 150ms ease-in-out;
}

p {
    font-family: 'Urbanist', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex_end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.d-flex_start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.d-flex_column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.d-none {
    display: none;
}

.d-flex_space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pokemon_card_top {
    height: 50vh;
    color: white;
    background-color: #ff4d4d;
}

.d-none {
    display: none;
}

.left_arrow {
    width: 30px;
    height: 30px;
    object-fit: contain;
    display: flex;
    position: absolute;
    left: 4%;
    cursor: pointer;
}

.search_icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    display: flex;
    position: absolute;
    left: 50%;
    cursor: pointer;
}

.inputfield {
    transform: scaleX(0);
    transition: all 100ms ease-in-out;
    width: 50%;
    font-weight: 700;
    object-fit: contain;
    border: none;
    border-radius: 100px;
    text-align: center;
    outline: none;
    font-size: 30px;
    color: white;
    display: flex;
    position: absolute;
    left: 25%;
    background-color: #282828d6;
}

.inputfield_open {
    transform: scaleX(1);
}

.heart_outline {
    width: 35px;
    height: 35px;
    object-fit: contain;
    display: flex;
    position: absolute;
    left: calc(100% - 30px - 5%);
    cursor: pointer;
}

.heart_full {
    width: 35px;
    height: 35px;
    object-fit: contain;
    display: flex;
    position: absolute;
    left: calc(100% - 30px - 5%);
    cursor: pointer;
}

.area_heart_likedPokemons {
    width: 45px;
    height: 45px;
    object-fit: contain;
    display: flex;
    position: absolute;
    left: calc(100% - 35px - 5%);
    cursor: pointer;
}

.number_likes {
    font-size: 15px;
    color: black;
    position: absolute;
    z-index: 99;
}

.name_line {
    padding-top: 10vh;
}

.pokemon_id {
    font-size: 20px;
    margin-right: 5%;
}

.types_line {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.type_bg {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 15px;
    box-shadow: 0px 0px 5px 0px white;
    cursor: pointer;
    transform: scale(1);
    transition: all 150ms ease-in-out;
}

.type_bg:hover {
    transform: scale(1.05);
}



.types_line img {
    width: 20px;
    height: 20px;

}

.type_pokemon_card {
    font-size: 20px;
    margin-left: 5px;
}

.pokemon_card_pic_area {
    position: absolute;
    right: 15%;
    top: 10%;
}

.pokemon_card_pic {
    width: 400px;
    height: 400px;
    object-fit: contain;
    transform: scale(1);
    transition: transform 225ms ease-in-out;
    z-index: 1;
}

.pokemon_card_pic:hover {
    transform: scale(1.3);
    z-index: 999;

}

.d-none {
    display: none;
}







.pokemon_card_bottom {
    height: 55vh;
    margin-top: -5vh;
    color: white;
    background-color: #282828;
    box-shadow: 0px 0px 130px 178px #282828;
}

.tabsbar {
    margin-left: 5%;
    justify-content: flex-start;
}

.card_bottom_tab {
    border-bottom: 3px solid #b4a896;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 20px;
    justify-content: center;
}

.tab1 {
    background: #0000003d;
    height: 10vh;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-right: 1px solid white;
    z-index: 900;
}

.tab2 {
    background: #0000003d;
    height: 10vh;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 900;
}

.tab3 {
    background: #0000003d;
    height: 10vh;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-left: 1px solid white;
    z-index: 900;
}

.tab_top {
    margin-bottom: 7px;
}

.tab_pic {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.tab_pic_height {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.tab_pic_moves {
    width: 22px;
    height: 22px;
    margin-right: 15px;
}

.tab_text {
    font-size: 20px;
    font-weight: 500;
}

.tab_bottom_text_left {
    font-size: 20px;
    font-weight: 300;
    color: #969292;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #969292;
}

.tab_bottom_text {
    font-size: 20px;
    font-weight: 300;
    color: #969292;
    padding-left: 10px;
    padding-right: 10px;
}

.stat_total {
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 15px;
    width: 90vw;
}

.total {
    font-size: 25px !important;
    font-weight: 700;
}

.area_stats {
    width: 100%;
}

.stat {
    margin-left: 10%;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 90vw;
}

.stat_type {
    font-size: 20px;
    width: 25%;
}

.stat_power {
    font-size: 20px;
    width: 8%;
    text-align: end;
    padding-right: 5px;
}

.stat_power_bar {
    border: 1px solid white;
    height: 10px;
    border-radius: 20px;
    width: 57%;
}

.power_bar {
    background: white;
    width: 30%;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.add_bg {
    background: rgb(112, 55, 55);
}

.max_power {
    position: absolute;
    right: 5%;
    font-size: 13px;
    margin-top: 13px;
}

.area_next_button {
    width: 10%;
    z-index: 900;
    height: 46%;
    position: absolute;
    bottom: 27%;
    cursor: pointer;
}

.next_pokemon_button {
    width: 100%;
    height: 100%;
    bottom: 35%;
    transform: scale(1);
    transition: transform 125ms ease-in-out;
    border-top-right-radius: 100px;
    background-color: rgb(28 28 28 / 19%);
    border-bottom-right-radius: 100px;
}

.area_next_button:hover #next_pokemon_button {
    transform: scale(1);
    background-color: rgba(28, 28, 28, 0.749);
    z-index: 901;
}

.area_next_right_button {
    width: 10%;
    z-index: 900;
    height: 46%;
    right: 0;
    position: absolute;
    bottom: 27%;
    cursor: pointer;
}

.next_pokemon_right_button {
    width: 100%;
    height: 100%;
    bottom: 35%;
    right: 0;
    transform: scale(1);
    transition: transform 125ms ease-in-out;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color: rgb(28 28 28 / 19%);
}

.icon_pokemon_button_right {
    transform: rotate(180deg);
}

.area_next_right_button:hover #next_pokemon_right_button {
    transform: scale(1);
    background-color: rgba(28, 28, 28, 0.749);
    z-index: 901;
}

.d-none {
    display: none;
}

/*Pokedex Start*/

.pokemon_card_top_start {
    height: 100vh;
    position: fixed;
    width: 100vw;
    color: white;
    z-index: 99;
    overflow-y: auto;
}

.pokemon_card_bottom {
    height: 55vh;
    margin-top: -5vh;
    color: white;
    background-color: #282828;
    box-shadow: 0px 0px 130px 178px #282828;
}

.title {
    font-size: 35px;
    position: absolute;
    margin-left: 0px;
    color: white;
    left: 5%;
    cursor: pointer;
}

.navbar {
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: 0;
}

.navbarscroll {
    background: #0000008a;
}

.pokeball {
    width: 500px;
    height: 500px;
    opacity: 0.1;
    transform: rotate(333deg);
    position: absolute;
    right: -8%;
    top: -17%;
    z-index: 1;
}

.start_pokemon_cards {
    padding-top: 100px;
    flex-wrap: wrap;
    height: fit-content;
}

.start_pokemon_card {
    width: 27%;
    margin: 1%;
    border-radius: 30px;
    padding: 21px;
    height: 137px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    transform: scale(1);
    transition: all 150ms ease-in-out;
    box-shadow: 0px 0px 16px 11px #00000038;
}

.start_pokemon_card:hover {
    transform: scale(1.05);
}

.start_pokemon_card_headline {
    width: 100%;
    z-index: 1;
}

.start_types_line {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 1;
}

.type_start {
    width: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 10px;
    box-shadow: 0px 0px 5px 0px white;
    cursor: pointer;
    z-index: 999;
}

.icon_start_card {
    width: 20px;
}

.pokeball_card {
    position: absolute;
    bottom: 0;
    right: 0%;
    opacity: 0.2;
    width: 180px;
    height: 180px;
}

.start_pokemon_pic {
    width: 135px;
    height: 135px;
    position: absolute;
    right: 30px;
    bottom: 5px;
    z-index: 10;
}

.scroll {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 67px;
    height: 200vh;
    overflow-y: auto;
    display: flex;
}










.type_fire {
    background: rgb(246 64 64);
}

.type_poison {
    background: rgb(171 111 255);
}

.type_grass {
    background: rgb(103 190 125);
}

.type_flying {
    background: rgb(116, 33, 249);
}

.type_water {
    background: rgb(111 195 255);
}

.type_bug {
    background: rgb(180 184 88);
}

.type_normal {
    background: rgb(180 170 150);
}

.type_electric {
    background: rgb(235 191 28);
}

.type_ground {
    background: rgb(210 150 55);
}

.type_fairy {
    background: rgb(229 132 172);
}

.type_fighting {
    background: rgb(191 72 81);
}

.type_psychic {
    background: rgb(255 131 230);
}

.type_rock {
    background: rgb(192 173 173);
}

.type_steel {
    background: rgb(178 178 178);
}

.type_gas {
    background: rgb(171 111 255);
}

.type_ghost {
    background: rgb(128 83 144);
}

.type_dragon {
    background: rgb(96 66 182)
}

.type_ice {
    background: rgb(92, 194, 211);
}

.type_gas {
    background: rgb(60, 64, 65);
}

.type_dark {
    background: rgb(47 87 96);
}



@media (max-width: 1200px) {
    .pokemon_card_pic {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 950px) {
    .load_more_button {
        font-size: 20px;
    }

    .pokemon_card_pic {
        width: 250px;
        height: 250px;
    }

    .area_next_right_button {
        width: 15%;
    }

    .area_next_button {
        width: 15%;
    }
}

@media (max-width: 975px) {
    .start_pokemon_card {
        width: 40%;
    }
}

@media (max-width: 600px) {
    .start_pokemon_card {
        width: 85%;
    }
}

@media (max-width: 650px) {
    .pokemon_card_pic {
        width: 200px;
        height: 200px;
    }

    .pokemon_card_pic_area {
        right: 10%;
        top: 15%;
    }

    .tab1 {
        height: 8vh;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

    .tab2 {
        height: 8vh;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .tab3 {
        height: 8vh;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }

    .tab_text, .tab_bottom_text, .tab_bottom_text_left {
        font-size: 15px;
    }
}

@media (max-width: 550px) {

    .pokeball {
        display: none;
    }

    .start_pokemon_card {
        width: 85%;
    }

    .area_next_right_button {
        width: 25%;
    }

    .area_next_button {
        width: 25%;
    }

    .pokemon_card_pic_area {
        right: 10%;
        top: 24%;
    }

    .pokemon_card_pic {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 400px) {

    .area_stats {
        width: 100%;
    }

    .stat {
        margin-left: 0px;
        width: 100%;
        justify-content: center;
    }

    .total {
        font-size: 18px !important;
    }

    .stat_type {
        font-size: 13px;
    }

    .stat_power {
        width: 8%;
        font-size: 14px;
        padding-right: 10px;
    }

    .stat_total {
        width: 100%;
        justify-content: center;
        margin-left: 0%;
    }

    .tab_pic {
        margin-right: 5px;
    }

    .tab_pic_height {
        margin-right: 5px;
    }

    .tab_pic_moves {
        margin-right: 5px;
    }

    .tab_bottom_text_left {
        padding-left: 5px;
        padding-right: 5px;
    }

    .tab_bottom_text {
        padding-left: 5px;
        padding-right: 5px;
    }

    .inputfield {
        width: 80%;
        left: 10%;
    }

    .pokeball_card {
        opacity: 0.2;
        width: 120px;
        height: 120px;
    }

    .tabsbar {
        margin-left: 0px;
        justify-content: center;
    }

    .start_pokemon_card {
        width: 75%;
    }

    .search_icon {
        left: 70%;
    }

    .start_pokemon_card:hover {
        transform: scale(1.02);
    }

    .start_pokemon_pic {
        width: 120px;
        height: 120px;
        right: 15px;
        bottom: 5px;
    }

    .icon_start_card {
        width: 15px;
    }

    .type_pokemon_card {
        font-size: 14px;
    }

    .start_pokemon_card_headline {
        align-items: flex-start;
        flex-direction: column;
    }
}